.box{
    width: 350px;
    height: 113px;
    padding: auto;
    margin: 0 auto;
}

.box2 {
    margin-left: auto;
    margin-right: auto;
    width: 1206px;
    background-color: #ebebeb;
    margin-bottom: 1px;
}

.container {
    width: 1206px;
    margin-right: auto;
    margin-left: auto;
}


.box3 {
    background-color: #7EE5DA;
    margin: 1px;
    float: left;
    width: 500px;
    height: 70px;
    padding-top: 10px;
}   
.box4 {
    background-color: #70CCC2;
    margin: 1px;
    float: left;
    width: 200px;
    height: 70px;
    padding-top: 7px;
    padding-bottom: 3px;
    font-size: small;

}

.box5 {
    margin: 1px ;
    float: left;
    background-color: #62B3AA;
    width: 500px;
    height: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: small;
}